.underlined{
  text-align: center;
  color: orange;
}


img {
  float: left;
  width: auto;
}
.header {
  width: 80%;
  height: 20%;
  float: left;
  background-color: cream;
}
.alignment {
  width: 30%;
  float: right;
  background-color: blue;
}
.alignment2 {
  width: 50%;
  float: left;
  background-color: green;
}
.likes {
  width: 40%;
  float: right;
  background-color: yellow;
}
.linkedin {
  font-style: italic;
  font-family: serif;
  font-size-adjust: auto;
  color: green;
  text-align: center;
}

.dev {
  text-align: left;
  width: auto;
}

h5 {
  font-style: oblique;
  font-size: 12px;
  font-size: 1em;
}
