img {
  float: left;
}
.header {
  width: 80%;
  height: 20%;
  float: left;
  background-color: cream;
}
.alignment {
  width: 30%;
  float: right;
  background-color: blue;
}
.alignment2 {
  width: 60%;
  float: left;
  background-color: green;
}
.likes {
  width: 40%;
  float: right;
  background-color: yellow;
}
linkedin {
  font-style: italic;
  font-family: fantasy;
  color: blue;
  text-align: center;
}
